@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-3">
    <div class="row g-4">
        @foreach (var item in Model.Items)
        {
        <div class="col-4">
            <div class="item-card">
                <div class="card-body">
                    <h5 class="fw-bold">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <small class="text-muted ms-1">@item.Identifier</small>
                    <div>
                            <a asp-page="/EditItem" asp-route-id="@item.ItemId" class="btn small button" asp-area="" asp-page="/EditItem" asp-route-itemId="@item.ItemId">
                            <span class="small icon material-symbols-rounded me-1">edit</span> Edit
                        </a>
                    </div>
                </div>
            </div>
        </div>
        }
        @if (Model.Items.Count == 0)
		{
            <span class="icon huge material-symbols-rounded text-muted text-center mt-5"> sentiment_stressed </span>
            <p class="text-muted text-center mt-2">There are no items in your vault!</p>
        }
    </div>
</div>